---
title: Home
---
.col-md-9
  %h1 Nuclear and Particle Physics
  %p These are the notes and associated problems for the Nuclear and Particle Physics course at Durham Univeristy (part of the Foundations of Physics 3A course).

  %h2 Contact
  %p You can contact the lecturer at...

.col-md-3
  %h2 Useful Information
  %p Useful information about the course, number of lectures, timetable etc.
